body{
    background-color: rgb(255, 190, 209);
}
.container{
    display:grid;
    width: 340px;
    height: 340px;
    text-align: center;
    grid-template-rows: repeat(3,3fr);
    grid-template-columns: repeat(3,3fr);
    background-color: rgb(93, 93, 181);
    margin-left: 550px;

}
.cuadro{
width: 110%;
height: 100%;
background-color: rgb(137, 137, 227);
border: 3px solid black;
}
#reiniciar{
    background-color: cornflowerblue;
    color: white;
    font-size: large;
    border-radius: 10%;
    margin-left: 810px;
    padding: 8px;
}
#reiniciar:hover{
    background-color: aqua;
    size: 10px;
}
#juego{
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container2{
    gap: 10px;
    width: 75%;
}
#empezarJuego{
    width: 30%;
    margin-left: 550px;
    font-size: large;
    padding: 15px;
    color: white;
    border-radius: 6%;
    background-color: rgb(113, 22, 146);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#empezarJuego:hover{
    background-color: rgb(72, 177, 72);
}
#gatox{
    width: 70%;
    padding: 20px;
    background-color: aquamarine;
    color: black;
    border-radius: 6%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 220px;
}
#gatox:hover{
    background-color: aqua;
}
p{
    margin-left: 1000px;
    margin-top: 0px;
}